@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Lexend", sans-serif;
}
body .font1 {
  font-family: "Barlow", sans-serif;
}
body .font2 {
  font-family: "Lily Script One", sans-serif;
}
body .logo {
  font-family: "Cinzel Decorative", sans-serif;
}

.border-gradient {
  background: linear-gradient(to right, #4f46e5, #08d3c8);
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 0.375rem; /* Adjust the border-radius as needed */
}
